:root {
    --code-font: monaco, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
.namespaceTitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.namespaceTitle h2,.processorTitle h2{
    background: rgba(0, 0, 0, 0.027);
    font-size: 22px!important;
    margin-bottom: 10px;
}

.processor,.namespace{
    padding-left: 15px;
}

h2 {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    /*background: rgba(0, 0, 0, 0.027);*/
}

pre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.endpoint{
    list-style: none;
    font-family: var(--code-font); 
}
.li{
    list-style-type: circle;
}

.main-content ul>li::before {
    position: absolute;
    margin-left: -2.7em;
}
.function{
    margin-left: 20px;
}
.function,
.comment{
    color:black;
    font-family: Inter;
    padding-left: 1.5em;
}
.moduleTitle h2{
    font-size: 26px;
}
.module_type {
    opacity: 70%;
    font-style: italic;
    padding-inline-end: 0.3em;
    font-family: --serif-font;
}

.function_decl {
    font-family: var(--code-font);
    font-size: 14px; 
    font-style: normal;
    color: rgb(88, 88, 88);
    /*white-space: pre;*/
    margin-left: -15px;
    margin-bottom: 20px;
    
}
.code_using{
    color: green;
}
.code_prim{
    color: blue;
}

.namespace{
    font-family: var(--code-font);
}
.code,
module {
    font-family: var(--code-font);
    margin: 0;
    color:black;
    display:contents;
    }

.structs,
.specialisations,
.functions,
.endpoints{
    font-family: Inter;
}

.function_name{
    display: block;
    color:black;
    font-size: 17px;
    font-family: var(--code-font);
    padding: 2px;
    padding-bottom: 10px;
    margin: 0;
    margin-left:-20px;
}

.variables{
    font-family: inter;
    padding: 5px;
    margin: 0;
}
.variable_type{
    color: #5c5962;
}
.struct_member_name{
    white-space: pre;
}

.keyword{
    font-family: system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,sans-serif;
    font-size: 22px;
    color:rgba(0, 0, 0, 0.494);
    margin-right: 7px;
}
.struct_member,
.struct_name,
.variable_name,
.variable{
    font-family: var(--code-font);
    padding: 0;
    margin: 0 0 .05em 0;  
}

.custom_table{
    border-style : hidden!important;
    box-shadow: none;
    text-align: left;
}
.struct_table,
.variable_table,
.specialisation_table{
    border:none;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    empty-cells: hide;
}

.module{
    border-top: 1px solid rgba(0, 0, 0, 0.31);
    margin-top: 50px;
    text-indent: 1.5em;
}

.moduleTitle{
    text-indent: 0em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#audio_data {
    border-top: 1px solid rgba(0, 0, 0, 0);
    margin-top: 0px;
}
.specialisations h2, .endpoints h2, .variables h2, .functions h2, .structs h2 {
    font-size: 18px!important;
    padding: 0 0 0.5em 0!important;
    color: #2C84FA;
}

.specialisations h2:after, .endpoints h2:after, .variables h2:after, .functions h2:after, .structs h2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    /*margin: 0 auto; /* This will center the border. */
    margin-left: 20px;
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 2px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid rgba(0, 0, 0, 0.209);; /* This creates the border. Replace black with whatever color you want. */
}

code .keyword{
    color:rgba(0, 0, 0, 0.728);
    font-size: 14px;
    font-family: monospace;
}
code {
    color:black;
    font-size: 14px;
    font-family: monospace;
    background-color: #f5f6fa00!important;
}
.specialisation code {
    padding-left: 40px;
    text-align: left;
    white-space: pre-wrap;
    display: inline-block;
}

.function_decl{
    font-family: var(--code-font);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align:left;
    font-size: 0;
}
.code_ident a{
    margin-left: -8px;
}