:root {
    --serif-font: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font: monaco, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
.namespaceTitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.namespaceTitle h2,.processorTitle h2{
    background: rgba(0, 0, 0, 0.027);
    font-size: 22px!important;
}

h2 {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    /*background: rgba(0, 0, 0, 0.027);*/
}

pre{
    /*margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.endpoint{
    list-style: none;
    font-family: var(--code-font); 
}
.li{
    list-style-type: circle;
}
.function{
    margin-left: 40px;
}
.function,
.comment{
    color:black;
    font-family: Inter;
    padding-bottom: 0.5em;
    padding-left: 1em;
}
.moduleTitle h2{
    font-size: 26px;
}
.module_type {
    opacity: 70%;
    font-style: italic;
    padding-inline-end: 0.3em;
    font-family: --serif-font;
}

.function_decl {
    font-family: var(--code-font);
    font-size: 14px; 
    font-style: normal;
    color: rgb(88, 88, 88);
    /*white-space: pre;*/
    margin: 15px;
    margin-bottom: 20px;
    
}
.code_using{
    color: green;
}
.code_prim{
    color: blue;
}

.namespace{
    font-family: var(--code-font);
}
.code,
module,
.code_ident {
    font-family: var(--code-font);
    margin: 0;
    color:black;
    display:contents;
    }

.structs,
.specialisations,
.functions,
.endpoints{
    font-family: Inter;
}

.function_name{
    display: block;
    color:black;
    font-size: 20px;
    font-family: var(--code-font);
    padding: 2px;
    padding-bottom: 10px;
    margin: 0;
    margin-left:-20px;
}

.variables{
    font-family: inter;
    padding: 5px;
    margin: 0;
}
.variable_type{
    
    color: #5c5962;
}
.struct_member_name{
    white-space: pre;
}
.specialisation{
    vertical-align: top!important;
    text-align: left!important;
    padding: 0;
}
.keyword{
    font-family: system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,sans-serif;
    font-size: 22px;
    color:rgba(0, 0, 0, 0.494);
    margin-right: 7px;
}
.struct_member,
.struct_name,
.variable_name,
.variable{
    font-family: var(--code-font);
    padding: 0;
    margin: 0 0 .05em 0;  
}

.custom_table{
    border-style : hidden!important;
    box-shadow: none;
    text-align: left;
}
.struct_table,
.variable_table,
.specialisation_table{
    border:none;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    empty-cells: hide;
}

.module{
    border-top: 1px solid rgba(0, 0, 0, 0.31);
    margin-top: 50px;
}

.moduleTitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

#audio_data {
    border-top: 1px solid rgba(0, 0, 0, 0);
    margin-top: 0px;
}
.specialisations h2, .endpoints h2, .variables h2, .functions h2, .structs h2 {
    font-size: 18px;
    padding: 0 0 0.5em 0;
}
code .keyword{
    
    font-size: 14px;
    font-family: monospace;
}
code {
    color:black;
    font-size: 14px;
    font-family: monospace;
    background-color: #f5f6fa00!important;
}